/* solid001 */
body{
  background-image: url("../img/main1.png");
  background-size: cover;
}
.button_solid001{
    display: flex;
    justify-content:flex-start;
}
#home{
  background: url("../img/button/home.png") no-repeat;
  background-size: cover;
}
#back{
  background: url("../img/button/back.png") no-repeat;
  background-size: cover;
}
.button_solid001 a{
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: start;
    max-width: 240px;
    padding: 5% 5%;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    /*background: #eee;*/
    /*background: url("../img/kabe.png") no-repeat;*/
    /*background-size: contain;*/

    border-radius: 3px;
}
.button_solid001 a:hover {
    transform: translateY(-6px);
    background:#FF2F2F;
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}
.button_solid002{
    display: flex;
    justify-content: space-around;
}
#mosi{
  background: url("../img/button/mosi.png") no-repeat;
  background-size: cover;
}
#yosomon{
  background: url("../img/button/yosomon.png") no-repeat;
  background-size: contain;
}
#koukai{
  background: url("../img/button/koukai.png") no-repeat;
  background-size: contain;
}
.button_solid002 a{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 16% 16%;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    /*background: #eee;*/
    /*background: url("../img/kabe.png") no-repeat;*/
    /*background-size: contain;*/
    filter: drop-shadow(0px 2px 4px #ccc);
    border-radius: 3px;
}
.button_solid002 a:hover {
    transform: translateY(-6px);
    background:#FF2F2F;
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}
h2 {
  position: relative;
  padding: 0.25em 0;
}
h2:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
  color: #6eb0f9;
}
