body{
  background-image: url("../img/main1.png");
  background-size: cover;
}
.button_solid001{
    display: flex;
    justify-content:flex-start;
}
#home{
  background: url("../img/button/home.png") no-repeat;
  background-size: cover;
}
#back{
  background: url("../img/button/back.png") no-repeat;
  background-size: cover;
}
.button_solid001 a{
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: start;
    max-width: 240px;
    padding: 5% 5%;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    /*background: #eee;*/
    /*background: url("../img/kabe.png") no-repeat;*/
    /*background-size: contain;*/

    border-radius: 3px;
}
.button_solid001 a:hover {
    transform: translateY(-6px);
    background:#FF2F2F;
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}
.button_line004 a {
    background: #444444;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    width: 80%;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
}
.button_line004 a:before,
.button_line004 a:after {
	content: '';
	width: 18px;
	height: 18px;
	border-color: #6bb6ff;
	box-sizing: border-box;
	border-style :solid;
	display: block;
	position: absolute;
	transition: all 0.3s ease-in-out;
}
.button_line004 a:before {
	top: -6px;
	left: -6px;
	border-width: 2px 0 0 2px;
	z-index: 5;
}
.button_line004 a:after {
	bottom: -6px;
	right: -6px;
	border-width: 0 2px 2px 0;
}
.button_line004 a:hover:before,
.button_line004 a:hover:after {
	width: calc(100% + 12px);
	height: calc(100% + 12px);
	border-color: #6bb6ff;
}
.button_line004 a:hover {
	color: #fff;
	background-color: #6bb6ff;
	border-color: #6bb6ff;
}
